button{
  @include reset-button;
}

.button{
  background-color: #287aff;
  color:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline:16px;
  padding-block:4px;
}

