@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
button {
  padding: 0;
  color: transparent;
  border: none;
}

.button {
  background-color: #287aff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 16px;
  padding-block: 4px;
}

.header {
  background-color: #f1f1f2;
  margin-bottom: 10px;
}
.header hr {
  margin-left: 20px;
  margin-bottom: 0;
}
.header-button {
  margin-left: 5px;
  margin-bottom: 5px;
}
.header__nav-block {
  color: grey;
  margin-left: 20px;
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}

.content {
  padding-inline: 10px;
}

th {
  background-color: #f1f1f2;
  padding-inline: 0;
  height: 50px;
  border-bottom: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table__data {
  display: flex;
  justify-content: center;
  align-items: center;
}

tr {
  border-bottom: 1px solid #d7d7d7;
}

td {
  text-align: center;
  max-width: 200px;
  height: 70px;
}

.cookies__alert {
  bottom: 5%;
  position: fixed;
  transition-duration: var(--transition-duration);
  left: 80vw;
  z-index: 3;
}
.cookies__alert-close-button-wrapper {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 3.5%;
  margin-bottom: -40px;
}
.cookies__alert-inner {
  background-color: #f0f0f0;
  border-radius: 16px;
  color: #000000;
  width: 100%;
  height: 100px;
  padding: 20px;
  display: flex;
  align-items: center;
  -moz-column-gap: 140px;
       column-gap: 140px;
  justify-content: end;
}
.cookies__alert-left {
  max-width: 780px;
}/*# sourceMappingURL=main.css.map */